.error{
    height: fit-content;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
.error h1{
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}