.navbar-home {
  width: 100%;
  background-color: #00000076;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  color: white;
  flex-wrap: wrap;
  z-index: 1000;
}
.navbar-home__logo {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.navbar-home__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1.5rem;
}
.navbar-home__link {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-decoration: #2ec4b6;
}
.navbar-home__link:hover {
  text-decoration: underline #2ec4b6 4px;
}
.images {
  display: flex;
  width: 100%;
  height: 95vh;
}
.images img {
  width: 0px;
  height: 100%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.2s ease;
}
.images img:hover {
  filter: contrast(110%);
  width: 30vw;
  opacity: 1;
}
.images__modal {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  position: absolute;
  bottom: 10%;
  background-color: #000000ae;
  text-align: center;
}
.images__modal h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #2ec4b6;
}
.features {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.features__container {
  width: 90%;
  margin: 1rem 0;
  margin-bottom: 2rem;
  text-align: center;
}
.features__container h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #2ec4b6;
}
.features__container li {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  line-height: 2rem;
}
.videos-series{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    overflow: hidden;
    text-align: center;
}
.videos-series h2{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #2ec4b6;
    margin-bottom: 2rem;
}
.videos-series p{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.video-container{
  width: 100%;
  height: fit-content; /* espacio extra en la parte inferior */
}
.video-container iframe{
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 860px) {
  .images__modal {
    width: 50%;
    height: fit-content;
    padding: 1rem;
    position: absolute;
    bottom: 10%;
    background-color: #000000ae;
    text-align: center;
    border-radius: 0 20px 20px 0;
    transition: all 0.4s ease-in-out;
  }
  .images__modal:hover {
    background-color: #071e1c85;
  }
  .images__modal:hover h1 {
    color: #43d4c5;
  }
  .features video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    filter: contrast(80%);
  }
  .features:hover video {
    filter: contrast(120%);
  }
  .features__container{
    position: absolute;
    background-color: #00000076;
    width: 100%;
    padding: 2rem 0;
    transition: all 0.4s ease-in-out;
  }
  .features__container h2{
    font-size: 3rem;
  }
  .features__container li{
    font-size: 2rem;
    line-height: 3rem;
  }
  .features__container:hover{
    background-color: #071e1c85;
  }
  .videos-series{
    width: 100%;
    display: flex;
    flex-direction: row;
    
  }
  .video-container iframe{
    width: 100%;
    height: 300px;
  }
  .video-container{
    width: 50%;
    height: 300px;
    overflow: hidden;
  }
  .videos-series-text{
    width: 50%;
  }
  .videos-series-text h2{
    width: 80%;
    margin: auto;
  }
}
